{% extends 'layout.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Thanks for checking out my portfolio site!</h1>
            <p> My name is Laura Knutilla, but you can just call me, Lo. I've been an aspiring artist and avid doodler for most of my life, and currently I'm a software engineer in San Francisco. If you're interested in what you see here, check me out at: </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="https://www.instagram.com/hazelknut_spread/"><i class="fa fa-fw fa-instagram fa-5x"></i></a>
                <a href="https://www.linkedin.com/in/lo-knutilla-a8325a88"><i class="fa fa-fw fa-linkedin fa-5x"></i></a>
                <a href=""><i class="fa fa-fw fa-github fa-5x"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
